img {
   max-width: 400px; max-height: 300px;
   float: left;
}


ul{
  position: relative;
  background: gray;
  margin: 0px;
  padding: 0px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: black;
  padding: 15px;
  display: block;
}

ul li:hover{
  background: lightgrey;
}

ul ul{
  position: absolute;
  min-width: : 200px;
  display: none;
  background: lightgrey;
}
ul ul li{
  display: block;
}

ul li:hover ul{
  display: block;
}
